  
.about {
    background-color: transparent;
    font-size: 1.1em;
  }
  
  .profile {
    max-width: auto;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  
  .my-details {
    background-color: #FBFBFC;
  }